In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('../datasets/phones_raw.csv')

In [3]:
df = df.sample(frac=1)
df.reset_index(inplace=True, drop=True)

In [4]:
df

      price                                          item_name category
0    152900                                  iPhone 12 (256GB)    Phone
1    115000  VivoBook 14 X415JA (14” FHD, Intel i7-1065G7, ...   Laptop
2    190000  Helios 300 2020 (15.6″ FHD 144Hz, Core i7-1075...   Laptop
3    245000         Sony Alpha A6500 (With 18-135mm zoom lens)   Camera
4     96000                                iPhone SE 2 (256GB)    Phone
..      ...                                                ...      ...
286   46999                                  Poco F3 (6+128GB)    Phone
287   33990                                 Oppo F17 (6+128GB)    Phone
288   18999                                Galaxy A12 (4+64GB)    Phone
289   34590                                 Oppo F19 (6+128GB)    Phone
290  267500                      Sony Alpha A7 III (Body only)   Camera

[291 rows x 3 columns]

In [5]:
def generate_link(item):
    item = item.replace(" ", "+")
    return "https://dummyimage.com/600x400/000/fff&text="+item

In [6]:
df['image_url'] = df.item_name.apply(generate_link)

In [7]:
df['item_id'] = df.index + 10000

In [8]:
df

,price,item_name,category,image_url,item_id
0,152900,iPhone 12 (256GB),Phone,https://dummyimage.com/600x400/000/fff&text=iP...,10000
1,115000,"VivoBook 14 X415JA (14” FHD, Intel i7-1065G7, ...",Laptop,https://dummyimage.com/600x400/000/fff&text=Vi...,10001
2,190000,"Helios 300 2020 (15.6″ FHD 144Hz, Core i7-1075...",Laptop,https://dummyimage.com/600x400/000/fff&text=He...,10002
3,245000,Sony Alpha A6500 (With 18-135mm zoom lens),Camera,https://dummyimage.com/600x400/000/fff&text=So...,10003
4,96000,iPhone SE 2 (256GB),Phone,https://dummyimage.com/600x400/000/fff&text=iP...,10004
...,...,...,...,...,...
286,46999,Poco F3 (6+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Po...,10286
287,33990,Oppo F17 (6+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Op...,10287
288,18999,Galaxy A12 (4+64GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10288
289,34590,Oppo F19 (6+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Op...,10289
290,267500,Sony Alpha A7 III (Body only),Camera,https://dummyimage.com/600x400/000/fff&text=So...,10290

In [9]:
df['inventory'] = [random.randint(10, 100) for x in range(df.shape[0])]

In [10]:
list(df)

['price', 'item_name', 'category', 'image_url', 'item_id', 'inventory']

In [11]:
df[['item_id', 'item_name', 'price','category', 'image_url', 'inventory']].to_csv('../datasets/items.csv', index=False)

In [12]:
((df.price)*.02).median()

1359.8