In [1]:
from faker import Faker
import pandas as pd
import random

In [2]:
df = pd.read_csv('../datasets/nepali_first_name_gender.csv')

In [3]:
filename = '../datasets/lastnames.txt'
with open(filename) as f:
    content = f.readlines()
content = [x.strip()[:-1] for x in content]

In [4]:
last_names = [x.capitalize() for x in content]

In [5]:
first_name_male = [x.capitalize() for x in list(df[df.gender=='M'].first_name)] 
first_name_female = [x.capitalize() for x in list(df[df.gender=='F'].first_name)]

In [6]:
[random.choice(first_name_male) + " " + random.choice(last_names) for x in range(10)]

['Nirmal Hardware',
 'Nitish Bishwokarma',
 'Nirajan Damase',
 'Yash Ranphaili',
 'Samir Bahety',
 'Bishal Phaiju',
 'Prasad Varal',
 'Binod Kar',
 'Ayus Parijuli',
 'Sarbodaya Lingthep']

In [7]:
total_customer = 100000
male_percent = 58

male = {'Name': [random.choice(first_name_male) + " " + random.choice(last_names) for x in range(int(total_customer*male_percent/100))]}
female = {'Name': [random.choice(first_name_female) + " " + random.choice(last_names) for x in range(int(total_customer*(100-male_percent)/100))]}

In [8]:
df_male = pd.DataFrame(data=male)
df_male['Gender'] = 'Male'
df_female = pd.DataFrame(data=female)
df_female['Gender'] = 'Female'

In [9]:
df = df_male.append(df_female)

In [10]:
df.loc[df.sample(frac=.04).index,
    'Gender'
] = 'Other'

df.loc[df.sample(frac=.02).index,
    'Gender'
] = 'Prefer not to say'

In [11]:
df.Gender.value_counts()

Male                 52224
Female               37146
Other                 6979
Prefer not to say     3651
Name: Gender, dtype: int64

In [17]:
def email_gen(name):
    name = name.lower()
    return (name.split(' ')[0]+'.'+name.split(' ')[1]+'@fakeemail.com')

In [18]:
df['email'] = df.Name.apply(email_gen)

In [19]:
df

                       Name  Gender                           email
0           Susshanzt Parui    Male   susshanzt.parui@fakeemail.com
1           Shamar Phabangi    Male   shamar.phabangi@fakeemail.com
2      Sushil thapa Musahar    Male      sushil.thapa@fakeemail.com
3          Chhiring Dhamala    Male  chhiring.dhamala@fakeemail.com
4          Asisnero Shrarma    Male  asisnero.shrarma@fakeemail.com
...                     ...     ...                             ...
41995         Sneha Mahajan  Female     sneha.mahajan@fakeemail.com
41996       Simrika Paikara  Female   simrika.paikara@fakeemail.com
41997          Nisu Uapreti  Female      nisu.uapreti@fakeemail.com
41998       Sunita Bakhadyo  Female   sunita.bakhadyo@fakeemail.com
41999       Yashoda Magarni   Other   yashoda.magarni@fakeemail.com

[100000 rows x 3 columns]

In [27]:
df['phone'] = [random.randint(9841000000, 9842000000) for x in range(df.shape[0])]

In [28]:
df

,Name,Gender,email,phone
0,Susshanzt Parui,Male,susshanzt.parui@fakeemail.com,9841989673
1,Shamar Phabangi,Male,shamar.phabangi@fakeemail.com,9841768429
2,Sushil thapa Musahar,Male,sushil.thapa@fakeemail.com,9841163345
3,Chhiring Dhamala,Male,chhiring.dhamala@fakeemail.com,9841233730
4,Asisnero Shrarma,Male,asisnero.shrarma@fakeemail.com,9841216974
...,...,...,...,...
41995,Sneha Mahajan,Female,sneha.mahajan@fakeemail.com,9841671416
41996,Simrika Paikara,Female,simrika.paikara@fakeemail.com,9841428370
41997,Nisu Uapreti,Female,nisu.uapreti@fakeemail.com,9841610122
41998,Sunita Bakhadyo,Female,sunita.bakhadyo@fakeemail.com,9841592245
41999,Yashoda Magarni,Other,yashoda.magarni@fakeemail.com,9841536931