In [1]:
from faker import Faker
import pandas as pd
import random

In [2]:
df = pd.read_csv('../datasets/nepali_first_name_gender.csv')

In [3]:
filename = '../datasets/lastnames.txt'
with open(filename) as f:
    content = f.readlines()
content = [x.strip()[:-1] for x in content]

In [4]:
last_names = [x.capitalize() for x in content]

In [5]:
first_name_male = [x.capitalize() for x in list(df[df.gender=='M'].first_name)] 
first_name_female = [x.capitalize() for x in list(df[df.gender=='F'].first_name)]

In [6]:
[random.choice(first_name_male) + " " + random.choice(last_names) for x in range(10)]

['Sushant Pahiju',
 'Yash Bhandnari',
 'Saswat Bk',
 'Mitra mani Kharbuja',
 'Rabindra Padhanang',
 'Ameesh Shakha',
 'Binod Lwagun',
 'Santosh Ghalan',
 'Paulo Kachhepati',
 'Nirajan Silawala']

In [7]:
total_customer = 100000
male_percent = 58

male = {'Name': [random.choice(first_name_male) + " " + random.choice(last_names) for x in range(int(total_customer*male_percent/100))]}
female = {'Name': [random.choice(first_name_female) + " " + random.choice(last_names) for x in range(int(total_customer*(100-male_percent)/100))]}

In [8]:
df_male = pd.DataFrame(data=male)
df_male['Gender'] = 'Male'
df_female = pd.DataFrame(data=female)
df_female['Gender'] = 'Female'

In [9]:
df = df_male.append(df_female)

In [10]:
df.loc[df.sample(frac=.04).index,
    'Gender'
] = 'Other'

df.loc[df.sample(frac=.02).index,
    'Gender'
] = 'Prefer not to say'

In [11]:
df.Gender.value_counts()

Male                 52236
Female               37168
Other                 6927
Prefer not to say     3669
Name: Gender, dtype: int64

In [12]:
def email_gen(name):
    name = name.lower()
    return (name.split(' ')[0]+'.'+name.split(' ')[1]+'@fakeemail.com')

In [13]:
df['Email'] = df.Name.apply(email_gen)

In [14]:
df

                    Name  Gender                            Email
0        Suman Deshemaru    Male    suman.deshemaru@fakeemail.com
1        Krishh Uparkoti    Male    krishh.uparkoti@fakeemail.com
2         Paulo Srhestha    Male     paulo.srhestha@fakeemail.com
3        Glitch Uapdhyay    Male    glitch.uapdhyay@fakeemail.com
4         Sabin Bindukar    Male     sabin.bindukar@fakeemail.com
...                  ...     ...                              ...
41995  Soneeya Pratiksha   Other  soneeya.pratiksha@fakeemail.com
41996    Samixya Taujale  Female    samixya.taujale@fakeemail.com
41997    Alina Chudharya  Female    alina.chudharya@fakeemail.com
41998       Reshma Bhote  Female       reshma.bhote@fakeemail.com
41999      Karuna Jatiya  Female      karuna.jatiya@fakeemail.com

[100000 rows x 3 columns]

In [15]:
df['Phone'] = [random.randint(9841000000, 9842000000) for x in range(df.shape[0])]

In [16]:
df

                    Name  Gender                            Email       Phone
0        Suman Deshemaru    Male    suman.deshemaru@fakeemail.com  9841927102
1        Krishh Uparkoti    Male    krishh.uparkoti@fakeemail.com  9841422965
2         Paulo Srhestha    Male     paulo.srhestha@fakeemail.com  9841055037
3        Glitch Uapdhyay    Male    glitch.uapdhyay@fakeemail.com  9841479714
4         Sabin Bindukar    Male     sabin.bindukar@fakeemail.com  9841503929
...                  ...     ...                              ...         ...
41995  Soneeya Pratiksha   Other  soneeya.pratiksha@fakeemail.com  9841259756
41996    Samixya Taujale  Female    samixya.taujale@fakeemail.com  9841905917
41997    Alina Chudharya  Female    alina.chudharya@fakeemail.com  9841472263
41998       Reshma Bhote  Female       reshma.bhote@fakeemail.com  9841137309
41999      Karuna Jatiya  Female      karuna.jatiya@fakeemail.com  9841511178

[100000 rows x 4 columns]

In [17]:
df['Channel'] = 'Facebook Post/Ad'

In [18]:
df.loc[df.sample(frac=.5).index,
    'Channel'
] = 'Word of Mouth'

df.loc[df.sample(frac=.2).index,
    'Channel'
] = 'Google Search'

df.loc[df.sample(frac=.1).index,
    'Channel'
] = 'Other'

In [19]:
df

,Name,Gender,Email,Phone,Channel
0,Suman Deshemaru,Male,suman.deshemaru@fakeemail.com,9841927102,Other
1,Krishh Uparkoti,Male,krishh.uparkoti@fakeemail.com,9841422965,Facebook Post/Ad
2,Paulo Srhestha,Male,paulo.srhestha@fakeemail.com,9841055037,Google Search
3,Glitch Uapdhyay,Male,glitch.uapdhyay@fakeemail.com,9841479714,Word of Mouth
4,Sabin Bindukar,Male,sabin.bindukar@fakeemail.com,9841503929,Facebook Post/Ad
...,...,...,...,...,...
41995,Soneeya Pratiksha,Other,soneeya.pratiksha@fakeemail.com,9841259756,Other
41996,Samixya Taujale,Female,samixya.taujale@fakeemail.com,9841905917,Word of Mouth
41997,Alina Chudharya,Female,alina.chudharya@fakeemail.com,9841472263,Facebook Post/Ad
41998,Reshma Bhote,Female,reshma.bhote@fakeemail.com,9841137309,Google Search
41999,Karuna Jatiya,Female,karuna.jatiya@fakeemail.com,9841511178,Word of Mouth

In [20]:
df.Channel.value_counts()

Word of Mouth       38485
Google Search       27472
Other               17510
Facebook Post/Ad    16533
Name: Channel, dtype: int64

In [21]:
df['First Contact'] = 'app'

In [22]:
df.loc[df.sample(frac=.676).index,
    'First Contact'
] = 'browser'

In [23]:
df

,Name,Gender,Email,Phone,Channel,First Contact
0,Suman Deshemaru,Male,suman.deshemaru@fakeemail.com,9841927102,Other,browser
1,Krishh Uparkoti,Male,krishh.uparkoti@fakeemail.com,9841422965,Facebook Post/Ad,browser
2,Paulo Srhestha,Male,paulo.srhestha@fakeemail.com,9841055037,Google Search,browser
3,Glitch Uapdhyay,Male,glitch.uapdhyay@fakeemail.com,9841479714,Word of Mouth,browser
4,Sabin Bindukar,Male,sabin.bindukar@fakeemail.com,9841503929,Facebook Post/Ad,browser
...,...,...,...,...,...,...
41995,Soneeya Pratiksha,Other,soneeya.pratiksha@fakeemail.com,9841259756,Other,browser
41996,Samixya Taujale,Female,samixya.taujale@fakeemail.com,9841905917,Word of Mouth,browser
41997,Alina Chudharya,Female,alina.chudharya@fakeemail.com,9841472263,Facebook Post/Ad,app
41998,Reshma Bhote,Female,reshma.bhote@fakeemail.com,9841137309,Google Search,browser
41999,Karuna Jatiya,Female,karuna.jatiya@fakeemail.com,9841511178,Word of Mouth,browser

In [24]:
df['First Contact'].value_counts()

browser    86018
app        13982
Name: First Contact, dtype: int64

In [25]:
df = df.sample(frac=1)

In [26]:
df

,Name,Gender,Email,Phone,Channel,First Contact
39640,Sam Tharu,Male,sam.tharu@fakeemail.com,9841831964,Google Search,browser
567,Tiray Munankami,Male,tiray.munankami@fakeemail.com,9841136586,Word of Mouth,browser
30243,Reeya Ghishing,Female,reeya.ghishing@fakeemail.com,9841590530,Google Search,browser
46504,Rohit Sayami,Male,rohit.sayami@fakeemail.com,9841091493,Facebook Post/Ad,browser
8405,Rajesh Pajiyar,Male,rajesh.pajiyar@fakeemail.com,9841095295,Other,browser
...,...,...,...,...,...,...
16026,Jenis Awal,Male,jenis.awal@fakeemail.com,9841051618,Word of Mouth,browser
26818,Jason Taujale,Male,jason.taujale@fakeemail.com,9841064996,Other,browser
21511,Sanjeev Kayestha,Male,sanjeev.kayestha@fakeemail.com,9841236266,Google Search,browser
39806,Sahil Chhinal,Male,sahil.chhinal@fakeemail.com,9841452502,Word of Mouth,browser
28019,Bejyo Shresath,Male,bejyo.shresath@fakeemail.com,9841106831,Word of Mouth,browser