In [1]:
from faker import Faker
import pandas as pd
import random

In [2]:
df = pd.read_csv('../datasets/nepali_first_name_gender.csv')

In [3]:
filename = '../datasets/lastnames.txt'
with open(filename) as f:
    content = f.readlines()
content = [x.strip()[:-1] for x in content]

In [4]:
last_names = [x.capitalize() for x in content]

In [5]:
first_name_male = [x.capitalize() for x in list(df[df.gender=='M'].first_name)] 
first_name_female = [x.capitalize() for x in list(df[df.gender=='F'].first_name)]

In [6]:
[random.choice(first_name_male) + " " + random.choice(last_names) for x in range(10)]

['Peter Pahadi',
 'Rohit Maga',
 'Yash Poudel',
 'Aditya Mahaseth',
 'Czan duwal Gurun',
 'Suman Ghalay',
 'Dipak Tamauli',
 'Jenis Thakali',
 'Yuki Adhirki',
 'Satish Raman']

In [7]:
total_customer = 100000
male_percent = 58

male = {'Customer Name': [random.choice(first_name_male) + " " + random.choice(last_names) for x in range(int(total_customer*male_percent/100))]}
female = {'Customer Name': [random.choice(first_name_female) + " " + random.choice(last_names) for x in range(int(total_customer*(100-male_percent)/100))]}

In [8]:
df_male = pd.DataFrame(data=male)
df_male['Gender'] = 'Male'
df_female = pd.DataFrame(data=female)
df_female['Gender'] = 'Female'

In [9]:
df = df_male.append(df_female)

In [13]:
df.reset_index(drop=True, inplace=True)

In [17]:
df['Customer ID'] = df.index+100000

In [20]:
df[['Customer ID', 'Customer Name', 'Gender']]

       Customer ID        Customer Name  Gender
0           100000         Kamal Pathak    Male
1           100001        Kush Chaudary    Male
2           100002     Pashupati Kaudal    Male
3           100003       Kamal Vhetuwal    Male
4           100004          Suman Panma    Male
...            ...                  ...     ...
99995       199995    Alina Shahshankar  Female
99996       199996  Mahima Bhattacharya  Female
99997       199997       Reeya Sarwagai  Female
99998       199998          Sunita Maka  Female
99999       199999          Manu Khusal  Female

[100000 rows x 3 columns]