In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/phones_raw.csv')

In [3]:
df

      Price                                               Item Category
0      8399                           Galaxy M01 Core (1+16GB)    Phone
1      9999                           Galaxy M01 Core (2+32GB)    Phone
2     13599                                Galaxy M01 (3+32GB)    Phone
3     11999                                Galaxy M02 (2+32GB)    Phone
4     12999                                Galaxy M02 (3+32GB)    Phone
..      ...                                                ...      ...
286  142000  Microsoft Surface Pro 7 ( Core i5, 8GB RAM, 12...   Laptop
287  188000  Microsoft Surface Pro 7 ( Core i5, 8GB RAM, 25...   Laptop
288  228000  Microsoft Surface Pro 7 ( Core i7, 16GB RAM, 2...   Laptop
289  159000  Microsoft Surface Laptop 3 ( 13.5-inch PixelSe...   Laptop
290  187000  Microsoft Surface Laptop 3 ( 15-inch PixelSens...   Laptop

[291 rows x 3 columns]

In [4]:
def generate_link(item):
    item = item.replace(" ", "+")
    return "https://dummyimage.com/600x400/000/fff&text="+item

In [5]:
df['Image URL'] = df.Item.apply(generate_link)

In [6]:
df['Item ID'] = df.index + 10000

In [7]:
df

,Price,Item,Category,Image URL,Item ID
0,8399,Galaxy M01 Core (1+16GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10000
1,9999,Galaxy M01 Core (2+32GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10001
2,13599,Galaxy M01 (3+32GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10002
3,11999,Galaxy M02 (2+32GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10003
4,12999,Galaxy M02 (3+32GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10004
...,...,...,...,...,...
286,142000,"Microsoft Surface Pro 7 ( Core i5, 8GB RAM, 12...",Laptop,https://dummyimage.com/600x400/000/fff&text=Mi...,10286
287,188000,"Microsoft Surface Pro 7 ( Core i5, 8GB RAM, 25...",Laptop,https://dummyimage.com/600x400/000/fff&text=Mi...,10287
288,228000,"Microsoft Surface Pro 7 ( Core i7, 16GB RAM, 2...",Laptop,https://dummyimage.com/600x400/000/fff&text=Mi...,10288
289,159000,Microsoft Surface Laptop 3 ( 13.5-inch PixelSe...,Laptop,https://dummyimage.com/600x400/000/fff&text=Mi...,10289
290,187000,Microsoft Surface Laptop 3 ( 15-inch PixelSens...,Laptop,https://dummyimage.com/600x400/000/fff&text=Mi...,10290