In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('../datasets/phones_raw.csv')

In [3]:
df = df.sample(frac=1)
df.reset_index(inplace=True, drop=True)

In [4]:
df

      Price                                               Item Category
0     42999                               Galaxy M62 (8+128GB)    Phone
1     34999                           Note 9 Pro Max (8+128GB)    Phone
2    160000                      Sony Alpha A7R II (Body only)   Camera
3     19999                               Galaxy A12 (4+128GB)    Phone
4     59999                           OnePlus Nord 2 (8+128GB)    Phone
..      ...                                                ...      ...
286  240000                      MacBook Pro 13 (M1, 16/256GB)   Laptop
287   75990                                       Canon EOS M6   Camera
288  142000  ZenBook 14 UM425IA (14” FHD, Ryzen 7 4700U, Ra...   Laptop
289   33999                        Redmi Note 10 Pro (6+128GB)    Phone
290   12999                                  Redmi 9C (2+32GB)    Phone

[291 rows x 3 columns]

In [5]:
def generate_link(item):
    item = item.replace(" ", "+")
    return "https://dummyimage.com/600x400/000/fff&text="+item

In [6]:
df['Image URL'] = df.Item.apply(generate_link)

In [7]:
df['Item ID'] = df.index + 10000

In [8]:
df

,Price,Item,Category,Image URL,Item ID
0,42999,Galaxy M62 (8+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10000
1,34999,Note 9 Pro Max (8+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=No...,10001
2,160000,Sony Alpha A7R II (Body only),Camera,https://dummyimage.com/600x400/000/fff&text=So...,10002
3,19999,Galaxy A12 (4+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10003
4,59999,OnePlus Nord 2 (8+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=On...,10004
...,...,...,...,...,...
286,240000,"MacBook Pro 13 (M1, 16/256GB)",Laptop,https://dummyimage.com/600x400/000/fff&text=Ma...,10286
287,75990,Canon EOS M6,Camera,https://dummyimage.com/600x400/000/fff&text=Ca...,10287
288,142000,"ZenBook 14 UM425IA (14” FHD, Ryzen 7 4700U, Ra...",Laptop,https://dummyimage.com/600x400/000/fff&text=Ze...,10288
289,33999,Redmi Note 10 Pro (6+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Re...,10289
290,12999,Redmi 9C (2+32GB),Phone,https://dummyimage.com/600x400/000/fff&text=Re...,10290

In [9]:
df['Inventory'] = [random.randint(10, 100) for x in range(df.shape[0])]

In [10]:
list(df)

['Price', 'Item', 'Category', 'Image URL', 'Item ID', 'Inventory']

In [11]:
df[['Item ID', 'Item', 'Price', 'Category', 'Image URL', 'Inventory']].to_csv('../datasets/items.csv', index=False)