In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('../datasets/phones_raw.csv')

In [3]:
df = df.sample(frac=1)
df.reset_index(inplace=True, drop=True)

In [4]:
df

      price                                          item_name category
0     72990  Acer Aspire 3 (15.6″ HD, Ryzen 5 3500U, Radeon...   Laptop
1     64999                               Mi 11X Pro (8+128GB)    Phone
2     17999                                   Poco M3 (4+64GB)    Phone
3     20499                                Galaxy F22 (4+64GB)    Phone
4    176000  ZenBook 14 UX435EG (14” FHD Touch, Intel i7-11...   Laptop
..      ...                                                ...      ...
286   83000  VivoBook Flip 14 TP412FA (14” FHD 360 Touch, I...   Laptop
287  315000                                         Nikon D810   Camera
288  195000  Triton 300 2020 (15.6″ FHD 120Hz, Core i7-1075...   Laptop
289   39999                               Galaxy M51 (6+128GB)    Phone
290   49999                                           Vivo V21    Phone

[291 rows x 3 columns]

In [5]:
def generate_link(item):
    item = item.replace(" ", "+")
    return "https://dummyimage.com/600x400/000/fff&text="+item

In [7]:
df['image_url'] = df.item_name.apply(generate_link)

In [10]:
df['item_id'] = df.index + 10000

In [11]:
df

,price,item_name,category,image_url,item_id
0,72990,"Acer Aspire 3 (15.6″ HD, Ryzen 5 3500U, Radeon...",Laptop,https://dummyimage.com/600x400/000/fff&text=Ac...,10000
1,64999,Mi 11X Pro (8+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Mi...,10001
2,17999,Poco M3 (4+64GB),Phone,https://dummyimage.com/600x400/000/fff&text=Po...,10002
3,20499,Galaxy F22 (4+64GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10003
4,176000,"ZenBook 14 UX435EG (14” FHD Touch, Intel i7-11...",Laptop,https://dummyimage.com/600x400/000/fff&text=Ze...,10004
...,...,...,...,...,...
286,83000,"VivoBook Flip 14 TP412FA (14” FHD 360 Touch, I...",Laptop,https://dummyimage.com/600x400/000/fff&text=Vi...,10286
287,315000,Nikon D810,Camera,https://dummyimage.com/600x400/000/fff&text=Ni...,10287
288,195000,"Triton 300 2020 (15.6″ FHD 120Hz, Core i7-1075...",Laptop,https://dummyimage.com/600x400/000/fff&text=Tr...,10288
289,39999,Galaxy M51 (6+128GB),Phone,https://dummyimage.com/600x400/000/fff&text=Ga...,10289
290,49999,Vivo V21,Phone,https://dummyimage.com/600x400/000/fff&text=Vi...,10290

In [12]:
df['inventory'] = [random.randint(10, 100) for x in range(df.shape[0])]

In [13]:
list(df)

['price', 'item_name', 'category', 'image_url', 'item_id', 'inventory']

In [14]:
df[['item_id', 'item_name', 'category', 'image_url', 'inventory']].to_csv('../datasets/items.csv', index=False)